.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* The navbar is above other content */
  }
  
body {
    padding-top: 20px; /* This value based on the height of the navbar */
}

section {
    padding: 10px;
}

h1 {
    margin-bottom: 20px;
}

.about-me-image {
    width: 200px;
    height: 200px;
}

.custom-card {
    position: relative; /* Allows absolute positioning relative to the card */
    padding: 10px;
    border: 2px solid;
    margin: 10px;
  }
  
  .card-label {
    position: absolute;
    top: -5px;
    right: 20px;
    background-color: white;
    padding: 0 4px; /* Add some padding around the text */
  }
  
  /* Ensure input borders and other styles if needed */
  .card-body input {
    border: none;
  }