.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* The navbar is above other content */
  }
  
body {
    padding-top: 20px; /* This value based on the height of the navbar */
}

section {
    padding: 10px 0;
}

h1 {
    margin-bottom: 20px;
}

.about-me-image {
    width: 200px;
    height: 200px;
}