.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000; /* The navbar is above other content */
  }
  
body {
    padding-top: 20px; /* This value based on the height of the navbar */
}

section {
    padding: 10px;
}

h1 {
    margin-bottom: 20px;
}

.about-me-image {
    width: 200px;
    height: 200px;
}

.custom-card {
    position: relative; /* Allows absolute positioning relative to the card */
    padding: 10px;
    border: 2px solid;
    margin: 10px;
  }
  
  .card-label {
    position: absolute;
    top: -20px;
    right: 20px;
    background-color: white;
    padding: 0 4px; /* Add some padding around the text */
  }
  
  /* Ensure input borders and other styles if needed */
  .card-body input {
    border: none;
  }

  .project-image {
    display: block;
    margin-top: 10px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.small-image {
    height: 50px;
}

.expanded-image {
    height: 300px;
    z-index: 1050;
    position: absolute;
    background: white;
    padding: 5px;
    border: 2px solid black;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.card {
  position: relative;
}

/* Style the card image to be positioned 50px to the left of the title */
.card-img-top {
  position: absolute;
  left: 10;
  top: 0; /* Vertically center the image relative to the card body */
  transform: translateY(-50%); /* Adjust for vertical centering */
  width: 50px; /* Adjust size if needed */
}

/* Style the title to ensure proper horizontal alignment */
.card-title {
  text-align: center; /* Offset title to the right to align with the image */
}